variables:
  # your existing vars...
  sqlProjPath: 'MetaDataDB/MetaDataDB.sqlproj'
  sqlProjDirectory: 'MetaDataDB'
  dacpacName: 'MetaDataDB.dacpac'
  artifactName: 'metadata-dacpac'

  # build pool (shared)
  buildPoolName: 'Azure Build Pool'

  # static pool names per environment
  sboxPoolName: 'Azure SBOX'
  devPoolName:  'Azure preprod'
  testPoolName: 'Azure TEST'
  ithcPoolName: 'Azure ITHC'
  stgPoolName:  'Azure STG'
  prodPoolName: 'Azure Prod'

  # map integrationEnv -> deployPoolName
  ${{ if eq(parameters.integrationEnv, 'sbox') }}:
    deployPoolName: ${{ variables.sboxPoolName }}
  ${{ if eq(parameters.integrationEnv, 'dev') }}:
    deployPoolName: ${{ variables.devPoolName }}
  ${{ if eq(parameters.integrationEnv, 'test') }}:
    deployPoolName: ${{ variables.testPoolName }}
  ${{ if eq(parameters.integrationEnv, 'ithc') }}:
    deployPoolName: ${{ variables.ithcPoolName }}
  ${{ if eq(parameters.integrationEnv, 'stg') }}:
    deployPoolName: ${{ variables.stgPoolName }}
  ${{ if eq(parameters.integrationEnv, 'prod') }}:
    deployPoolName: ${{ variables.prodPoolName }}
