trigger:
- main

variables:
  serviceConnection: 'YOUR-AZURE-SERVICE-CONNECTION'
  subscriptionId: '00000000-0000-0000-0000-000000000000'
  location: 'uksouth'

  devRg:  'rg-adf-dev'
  testRg: 'rg-adf-test'

stages:
- stage: Build
  displayName: Build (export ARM)
  jobs:
  - job: Build
    steps:
    - checkout: self

    # ---- YOUR EXISTING "export ARM templates" steps are here ----
    # Make sure the exported files end up in: $(Build.ArtifactStagingDirectory)/arm/
    # and include ARMTemplateForFactory.json

    - task: PublishPipelineArtifact@1
      displayName: Publish ARM artifact
      inputs:
        targetPath: '$(Build.ArtifactStagingDirectory)/arm'
        artifact: 'arm'

- stage: Deploy_Dev
  displayName: Deploy DEV (skip IR)
  dependsOn: Build
  jobs:
  - job: Dev
    steps:
    - template: deploy-adf-skip-ir.yml
      parameters:
        artifactName: 'arm'
        azureServiceConnection: $(serviceConnection)
        subscriptionId: $(subscriptionId)
        resourceGroupName: $(devRg)
        location: $(location)
        parametersFile: "$(Build.SourcesDirectory)/azure-pipelines/parameters/adf_mdf_dev_paramates.json"

- stage: Deploy_Test
  displayName: Deploy TEST (skip IR)
  dependsOn: Build
  jobs:
  - job: Test
    steps:
    - template: deploy-adf-skip-ir.yml
      parameters:
        artifactName: 'arm'
        azureServiceConnection: $(serviceConnection)
        subscriptionId: $(subscriptionId)
        resourceGroupName: $(testRg)
        location: $(location)
        parametersFile: "$(Build.SourcesDirectory)/azure-pipelines/parameters/adf_mdf_test_paramates.json"





- task: UsePythonVersion@0
  inputs:
    versionSpec: '3.x'

- script: >
    python scripts/adf/remove_ir_from_arm.py
    "$(Build.SourcesDirectory)\ArmTemplate\ARMTemplateForFactory.json"
    "$(Build.SourcesDirectory)\ArmTemplate\ARMTemplateForFactory.noir.json"
  displayName: Create noir template (no IR)

- task: PublishPipelineArtifact@1
  inputs:
    targetPath: '$(Build.SourcesDirectory)\ArmTemplate'
    artifact: 'Armtemplate'

